CPU/.analytics
CPU/.metadata/.log
CPU/.metadata/version.ini
CPU/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.rse.core.prefs
FPGA/vivado.log
FPGA/vivado.jou
FPGA/vivado_11140.backup.jou
FPGA/vivado_11140.backup.log
FPGA/hw.cache/wt/project.wpc
CPU/.metadata/
*.log*
CPU/Zybo-Z7-10-HDMI/Debug/*
CPU/design_1_wrapper/zynq_fsbl/fsbl.elf
CPU/design_1_wrapper/platform.spr
CPU/design_1_wrapper/platform.tcl
CPU/design_1_wrapper/zynq_fsbl/zynq_fsbl_bsp/
CPU/Zybo-Z7-10-HDMI/.gitignore
CPU/Zybo-Z7-10-HDMI_system/_ide/launch/SystemDebugger_Zybo-Z7-10-HDMI_system_1.launch
CPU/Zybo-Z7-10-HDMI_system/_ide/scripts/systemdebugger_zybo-z7-10-hdmi_system_1_standalone.tcl
